body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(158,0,255,1) 35%, rgba(0,212,255,1) 100%);
    text-align: center;
}

.menu{
    list-style: none;
    font-family: 'WindSong';
    position: absolute;
    top: 10px;
    right: 30px;
    z-index: 10;
    cursor: pointer;  
}

.links{
    float: left;
    color: aliceblue;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 9px;
    padding-right: 9px;
    font-family: 'WindSong';
    font-size: 20px;
}

.links: hover{
    background-color: darkviolet;
}

.profile{
    width: 500px;
    margin-bottom: 50px;
}

h1{
    font-style: 'WindSong'
}

p{
    font-style: 'WindSong'
}

